@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --dark-green: #006400;
    --light-green: #90ee90;
    --lightest-green: #dffdd3;
    --white: white;
    --grey: grey;
    --egg-white: #d2d2d2;

    /* sizes */

    --pa:.9em;
    --br-a:3px;
}
a{
    color: var(--dark-green);
    text-decoration: none;
}
button{
    cursor: pointer;
}
body{
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
}
a,p,button{
    font-family: "Raleway", sans-serif;
}
.left-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex: 1;
    background-color: var(--lightest-green)
}
.right-div{
    background-color: var(--dark-green);
    height: 100vh;
    flex: 1;
}
.enroll{
    flex-basis: 50%;
    padding: .5em 0;
}
.ld-wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ld-wrapper h2{
    font-size: 2em;
    font-family: "Playfair Display", serif;
    line-height: 3em;
}
.tech-companies-wrapper{
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
.tech-companies-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tech-companies-wrapper button img{
    width:1.5em;
}
.email-form{
    width: 100%;
    text-align: center;
}
.line-text{
    display: flex;
    gap: .5em;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2em;
}
.line-text span{
    /* width: 100%; */
    flex: 1;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--egg-white); 
    /* background-color: black; */
}
.ef-input{
    display: flex;
    gap: .85em;
    flex-direction: column;
    margin-bottom: .85em;
}
.ef-input input{
    font-weight: bold;
}
.ef-input input:placeholder-shown{
    font-weight: lighter;
}
.ef-input input,.create,.tech-companies-wrapper button{
    padding: var(--pa) ;
}
.ef-row2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.65em;
}
.ef-row2 input{
    accent-color: var(--dark-green);
}
button,input{
    background-color: transparent;
    border: 2px solid var(--egg-white);
    border-radius: var(--br-a);
}
.create{
    width: 100%;
    margin-bottom: 1em;
    background-color: var(--dark-green);
    color: var(--lightest-green);
    border: none;
}
.ef-input input:focus{
    border: none;
    outline: 2px solid var(--dark-green);
    /* background-color: var(--light-green); */
    color: var(--dark-green);
}

/* Sign up styling */
.full-name-field{
    width:100%;
    display: flex;
    gap: 1em ;
    margin-bottom: .9em;
}
.full-name-field input{
    /* background-color: black ; */
    padding: var(--pa);
    width:100%;
}
.signupPage .ef-row2{
    justify-content: center;
}

/* home page styling */
:root{
    --home-page-pl: 4em;
}
.home-page{
    flex-direction: column;
}
.home-page nav{
    display: flex;
    width: 100% ;
    padding: 1em var(--home-page-pl);
    font-weight: 500;
    margin-bottom: 3em;
}
.home-page nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
}
.home-page nav .logo{
    margin-right: 3em;
}
.entry{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1em;
}
.entry .login{
    background-color: var(--dark-green);
    border: none;
    padding: .75em;
    border-radius: 25px;
}
.entry .login a{
    color:var(--lightest-green);
}
.hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--home-page-pl);
}
.hero-section h1{
    font-size: 7em ;
    color: var(--dark-green);
}
.hero-section .left-col{
    flex: 1;
}
.hero-section .right-col{
    flex: 1;
}
.hero-section button{
    background-color: var(--dark-green);
    /* color: var(--dark-green); */
    color: white;
    padding: 1em 1.2em;
    border-radius: 3em;
}
