@import url("root.css");
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
main{
    padding: 1em 3em;
}
a{
    text-decoration: none;
    color:var(--dark-green);
}
ul{
    list-style-type: none;

    display: flex;
    gap: 1em;
}
.shopping-page nav{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: 3em;
}
.shopping-page nav .main-nav{
    width: 100%;
}
.shopping-page .logo{
    margin-right: 2em;
}
.nav-right{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap:2em;
}

.product-search-div{
    background-color: var(--lightest-green);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-search-div input{
    padding: 1em;
    width: 18em;
    border: none;
    background-color: inherit;
    border-radius: inherit;
    font-family: "Raleway", sans-serif;
}
.product-search-div input:focus{
    outline:none;
    border: none;
}
.searchIcon{
    width: 1.5em;
    cursor: pointer;
}
.userbased-pages{
    display: flex;
    align-items: center;
    gap: .5em;
}
/* .profileIcon{
    width: 1.3em;
}
.cartIcon{
    width: 1.75em;
} */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.hero-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--lightest-green);
    border-radius: var(--br-b);    
    padding: 1em 3em;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Raleway", sans-serif;
    margin-bottom: 5em;
}
.hero-section .texts{
    display: flex;
    gap:1em;
    flex-direction: column;
    align-items: baseline;
}
.discount-tag{
    background-color: var(--gold);
    padding: .5em .8em ;
    font-size: .6rem;
    font-weight: 600;
    border-radius: var(--br-d);
}
.hero-section h1, p{
    color: var(--dark-green);
}
.hero-section .header{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.2rem;
}
.lorem{
    font-size: 1.2rem;
    line-height: 1.2;
}
.lorem span{
    display: block;
}
.dormant{
    padding: .4em 1.2em;
    background-color: var(--dark-green);
    border: none;
    color: var(--lightest-green);
    border-radius: var(--br-a);
    line-height: 2;
    cursor: pointer;
}
.img-wrapper img{
    width: 440px;
}
.products-wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5em;
}
.product{
    color: var(--dark-green);
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: last baseline; */
    gap: .5em;
}
.product-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filled {
    color: var(--gold);
  }
.add-to-cart{
    background-color: transparent;
    border: 1px solid black;
    padding: .4em .9em;
    font-size: .8rem;
    border-radius: var(--br-d);
    cursor: pointer;
    line-height: 1.2;
    align-self: first baseline ;
}
.add-to-cart:hover{
    background-color: var(--dark-green);
    color: var(--lightest-green); 
    border: none;  
}